html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh 75vh 5vh;
  grid-template-areas:
    "h a"
    "m a"
    "f f";
  background-image: url("../images/bg-pattern-desktop.svg");
  background-size: cover;
  background-position: right;
}

header {
  display: flex;
  justify-content: stretch;
  grid-area: h;
}
main {
  grid-area: m;
  overflow-y: auto;
  overflow-x: hidden;
}
aside {
  grid-area: a;
}
footer {
  grid-area: f;
}

/* HEADER ============================= */
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: stretch;
  width: 100%;
  padding: 0 0 0 8rem;
}
.nav-link {
  margin: auto 0;
}
.logo {
  width: 160px;
}
:root {
  --clr-primary: #ce9797;
  --clr-secondary: #413a3a;
  /* title */
  --fs-title: 4.5rem;
  --ls-title: 2rem;
  --lh-title: 5.5rem;
  /* text */
  --fs-text: 1.2rem;
  --lh-text: 2rem;
}
/* MAIN ============================= */
.main-form {
  padding: 0 0 0 8rem;
  height: max-content;
}
.main-title {
  margin: 1rem 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: var(--clr-primary);
  font-size: var(--fs-title);
  letter-spacing: var(--ls-title);
  line-height: var(--lh-title);
  text-transform: uppercase;
}
.main-title span {
  color: var(--clr-secondary);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
.main-text {
  width: 75%;
  margin: 1rem 0;
  font-family: "Josefin Sans", sans-serif;
  color: #ce9797ea;
  font-size: var(--fs-text);
  line-height: var(--lh-text);
  font-weight: 400;
}
.email-input {
  width: 70%;
  height: 60px;
  margin: 1rem 0 3rem 0;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: var(--fs-text);
  border-radius: 50px;
  color: var(--clr-primary);
  border: solid 1.5px #ce979741;
  outline: none;
}
.email-input::placeholder {
  color: #ce9797a6;
}

/* ASIDE ============================= */
.aside-div {
  width: 100%;
  height: 100%;
}
.aside-img {
  width: 100%;
  height: 100%;
}
.aside-img-desk {
  object-fit: contain;
  object-position: top right;
}
.aside-img-mob {
  display: none;
}
/* FOOTER ============================= */
.footer-nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: stretch;
  background-color: var(--clr-secondary);
  padding: 0 2rem;
}
.footer-text {
  margin: auto 0;
  font-family: "Josefin Sans", sans-serif;
  color: var(--clr-primary);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}
.footer-text a {
  color: #fff;
}
/* MODIBLE ============================= */
/* LARGE */
@media screen and (max-width: 1250px) and (min-width: 1001px) {
  :root {
    --fs-title: 4rem;
    --ls-title: 1.5rem;
    --lh-title: 4.5rem;

    --fs-text: 1rem;
    --lh-text: 2rem;
  }
  .main-form,
  .header-nav {
    padding: 0 0 0 3rem;
  }
  .aside-img-desk {
    object-position: center right;
  }
  .main-text {
    width: 85%;
  }
}
/* MID */
@media screen and (max-width: 1000px) and (min-width: 769px) {
  :root {
    --fs-title: 3rem;
    --ls-title: 1.5rem;
    --lh-title: 4rem;

    --fs-text: 1rem;
    --lh-text: 2rem;
  }
  .main-form,
  .header-nav {
    padding: 0 0 0 2rem;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 75vh 5vh;
    grid-template-areas:
      "h h"
      "m a"
      "f f";
  }
  .aside-img-desk {
    object-position: top right;
  }
  .main-text {
    width: 85%;
  }
  .email-input {
    height: 50px;
  }
}
/* MOBILE */
@media screen and (max-width: 768px) {
  :root {
    --fs-title: 2.5rem;
    --ls-title: 1rem;
    --lh-title: 3.5rem;

    --fs-text: 1rem;
    --lh-text: 2rem;
  }
  .main-form,
  .header-nav {
    padding: 0;
  }
  .container {
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas:
      "h h"
      "m m"
      "f f";
  }
  .header-nav {
    justify-content: center;
  }
  /* aside */
  .aside-img {
    max-width: 600px;
    height: auto;
    margin: 0 auto;
  }
  .aside-img-desk {
    display: none;
  }
  .aside-img-mob {
    display: block;
    object-fit: contain;
  }
  /* main */
  .main-form {
    padding: 0 1.5rem;
    text-align: center;
  }
  .main-text {
    text-align: center;
    width: 75%;
    margin: 0 auto;
  }
  .email-input {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  /* footer */
  .footer-nav {
    padding: 0 0.5rem;
    justify-content: center;
  }
  .footer-text {
    font-size: 0.7rem;
    padding: 0;
  }
}

/* @media screen and (max-width: 576px) {
  .container {
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas:
      "h h"
      "m m"
      "f f";
  }
  .aside-img {
    margin: 0 auto;
    width: auto;
    height: auto;
  }
  .aside-img-desk {
    display: none;
  }
  .aside-img-mob {
    display: block;
  }

  .footer-nav {
    padding: 0 0.5rem;
    justify-content: center;
  }
  .footer-text {
    font-size: 0.7rem;
    padding: 0;
  }
} 

/* @media screen and (max-width: 925px) {
  .container {
    grid-template-rows: 100px 400px 500px 50px;
    grid-template-areas:
      "h h"
      "a a"
      "m m"
      "f f";
  }
  .aside-img {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("../images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
  }

  .header-nav {
    justify-content: center;
    padding: 0;
  }
  main {
    padding: 0 1rem;
    text-align: center;
  }
  .main-title {
    font-size: 3rem;
    letter-spacing: 20px;
  }
  .main-text {
    width: 100%;
  }
  .footer-text {
    font-size: 12px;
  }
} */
