* {
  box-sizing: border-box;
}
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
:root {
  --clr-primary: #ce9797;
  --clr-secondary: #413a3a;
  /* title */
  --fs-title: clamp(2.5rem, 3.5vw, 4rem);
  --lh-title: clamp(3rem, 4vw, 4.5rem);
  --ls-title: clamp(1rem, 2.5vw, 1.5rem);
  /* text */
  --fs-text: clamp(1rem, 1vw, 1.3rem);
  --lh-text: 2rem;
  /* btn & input */
  --wd-pd-btn: clamp(50px, 20%, 150px);
  --mg-btn: clamp(-150px, -20%, -50px); /* negative margin-left of btn*/
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh 75vh 5vh;
  grid-template-areas:
    "h a"
    "m a"
    "f f";
}
.img-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -5;
  background-image: url("../assets/images/bg-pattern-desktop.svg");
  background-size: cover;
  background-position: top left;
  padding: 0;
  opacity: 0.6;
}
header {
  display: flex;
  justify-content: stretch;
  grid-area: h;
}
main {
  grid-area: m;
  overflow-y: auto;
  overflow-x: hidden;
}
aside {
  grid-area: a;
}
footer {
  grid-area: f;
}

/* HEADER ============================= */
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: stretch;
  width: 100%;
  padding: 0 0 0 7vw;
}
.nav-link {
  margin: auto 0;
}
.logo {
  width: 160px;
}
/* MAIN ============================= */
.main-form {
  padding: 0 0 0 7vw;
  height: max-content;
}
.main-title {
  margin: 1rem 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: var(--clr-primary);
  font-size: var(--fs-title);
  letter-spacing: var(--ls-title);
  line-height: var(--lh-title);
  text-transform: uppercase;
}
.main-title span {
  color: var(--clr-secondary);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
.main-text {
  width: 85%;
  max-width: 500px;
  margin: 1rem 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #ce9797ea;
  font-size: var(--fs-text);
  line-height: var(--lh-text);
  font-weight: 400;
}
.input-group {
  width: 100%;
}
.email-input {
  width: 90%;
  max-width: 500px;
  height: 55px;
  margin: 1rem 0 0 0;
  padding-right: var(--wd-pd-btn);
  padding-left: 1rem;
  font-size: var(--fs-text);
  color: var(--clr-secondary);
  border-radius: 50px;
  border: solid 1.5px hsla(0, 80%, 86%, 0.691);
  outline: none;
}
.email-input::placeholder {
  color: #ce9797a6;
}
.email-input-erro {
  border-color: #f96262;
}
.email-input-erro::placeholder {
  color: #f96262;
}
.email-btn {
  position: relative;
  top: 3.5px; /* size of the border */
  height: 55px;
  width: var(--wd-pd-btn);
  margin: 1rem 0 0 var(--mg-btn);
  border: none;
  box-shadow: 0px 0px 20px 5px #ce979771;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 40px;
  cursor: pointer;
  outline: none;
}
.email-btn:hover {
  background-image: none;
  box-shadow: 0px 0px 20px 0px #ce979780;
  background-color: hsl(0, 80%, 86%);
  /* transform: scale(1.02);
  top: 6px; */
}
.email-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
  margin: 0.3rem 0;
  padding: 0 1.8rem;
  text-align: start;
}
.erro-text {
  color: #f96262;
}
.sucess-text {
  color: var(--clr-primary);
}

/* ASIDE ============================= */
.aside-div {
  width: 100%;
  height: 100%;
}
.aside-img {
  width: 100%;
  height: 100%;
}
.aside-img-desk {
  object-fit: contain;
  object-position: top right;
}
.aside-img-mob {
  display: none;
}
/* FOOTER ============================= */
.footer-nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: stretch;
  background-color: var(--clr-secondary);
  padding: 0 2rem;
}
.footer-text {
  margin: auto 0;
  font-family: "Josefin Sans", sans-serif;
  color: var(--clr-primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}
.footer-text a {
  color: #fff;
}
.hide-class {
  visibility: hidden;
}

/* MID */
@media screen and (max-width: 1265px) and (min-width: 769px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 75vh 5vh;
    grid-template-areas:
      "h h"
      "m a"
      "f f";
  }
  .main-form,
  .header-nav {
    padding-left: 5vw;
  }
  .aside-img-desk {
    object-position: top right;
  }
  .main-text {
    width: 95%;
  }
  .email-input {
    width: 95%;
    height: 55px;
  }
  .email-btn {
    height: 55px;
  }
}
/* MOBILE */
@media screen and (max-width: 768px) {
  .container {
    background-image: linear-gradient(
      135deg,
      hsl(0, 0%, 100%),
      hsl(0, 100%, 98%)
    );
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas:
      "h h"
      "m m"
      "f f";
  }
  .img-bg {
    display: none;
  }
  .header-nav {
    padding: 0;
    justify-content: center;
  }
  /* main */
  .main-form {
    padding: 0 1.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
  }
  .main-text {
    text-align: center;
    margin: 1rem auto;
  }
  .email-input {
    height: 45px;
    margin: 1rem auto;
  }
  .email-btn {
    height: 45px;
  }
  .email-text {
    text-align: center;
  }
  /* aside */
  .aside-img-desk {
    display: none;
  }
  .aside-img-mob {
    display: block;
    object-fit: contain;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
  }
  /* footer */
  .footer-nav {
    padding: 0 0.5rem;
    justify-content: center;
  }
  .footer-text {
    text-align: center;
    font-size: 0.7rem;
  }
}
